*.iml
.settings/
.svn/
bin/
build_channels/
gen/
.idea
gradle
build
out/
vipshop/assets/crashlytics-build.properties
.gradle
local.properties
.DS_Store
/alipay_sdk/build
/lecloud4/build

freeline
freeline.py

/vipshop/maindexlist.txt
/vipshop/gradlew
/vipshop/gradlew.bat
/vipshop/gen-packageId.txt
/reports
/sh.exe.stackdump
/coverage.ec
/extract
